h1, h2, h3, h4 {
    text-align: center;
}
.menu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.container {
    display: flex;
    justify-content: center;
}
img {
    width: 100%;
    max-width: 500px;
}
